<footer class="topnav">
    <div class="footer-copyright">
    <div class="container">
       <a class="grey-text text-lighten-4 right" © 2020 G/O Media Inc. All articles belong to href="https://kotaku.com/" target="_blank">Kotaku</a>
    </div>
    </div>
</footer>
