<footer class="topnav">
    <div class="container">
        All articles belong to <a href="https://kotaku.com/" target="_blank">Kotaku</a>
        <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
    </div>
</footer>