<!-- // Footer  -->
   <footer class="footer">
    <div class="footer-copyright">
      <div class="container">
        All articles belong to G/O Media Inc. © 2020
        <a
          class="white-text text-lighten-4 right"
          href="https://kotaku.com/"
          target="_blank"
          >Kotaku</a
        >
      </div>
    </div>
  </footer>