<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"></button>
        </div>
    </div>
</nav>
 <!-- HEADER -->
    <div class="container-header">
        <a href="/" class="brand-logo">Scraper Gaming News</a>
        <button type="button" class="btn navbar-btn right" id="scrape-btn">Scrape New Articles</button>
      </div>
 
    <!-- BODY -->
    <br />
    <div id="wrapper">
      <h3 class="card z-depth-3 center-align" style="border-radius: 15px 50px;">
        Find latest information from Kotaku
      </h3>
      <br />
      <div class="row">
        <div class="center-align">
          <h5>Read the latest articles in the gaming world!</h5>
        </div>
      </div>
      <div id="articles"></div>
      <div id="notes"></div>
      <div id="article-body"></div>
      
    </div>
    <!-- END BODY -->

   
  
   <!-- // Footer  -->
   <footer class="footer">
    <div class="footer-copyright">
      <div class="container">
        All articles belong to G/O Media Inc. © 2020
        <a
          class="white-text text-lighten-4 right"
          href="https://kotaku.com/"
          target="_blank"
          >Kotaku</a
        >
      </div>
    </div>
  </footer>