html {
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom left, #702135, #daac16); /* Standard syntax (must be last) */
}
body {
    background-size: 600px;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  .articleBody {
    height: 200px;
    font-size: 16px;
    overflow-y: scroll;
    line-height: 150%;
  }
  #btnSignUp {
    background-color: #702135;
    border-radius: 6px;
    text-shadow: 1px 1px #000;
  }
  #nameComment {
    /*border-bottom: 2px solid #ec407a;*/
    font-weight: bold;
    background:  #702135;
    color: white;
  }
  .input-field input[type="text"]:focus + label {
    color: #635f60;
  }
  .input-field input[type="text"]:focus {
    border-bottom: 1px solid #635f60;
    box-shadow: 0 1px 0 0 #000;
  }
  .input-field .prefix.active {
    color: #635f60;
  }
  .topnav {
    background-color: #daac16;
    text-shadow: 1px 1px #000;
  }
  h3 {
    border-radius:15px 50px;
    height: 100px;
    padding: 20px;
    text-shadow: 1px 1px rgb(75, 68, 68);
  }
  h5 {
    color: white;
    text-shadow: 2px 2px #000;
  }
  .z-depth-3 {
    box-shadow: 0 6px 10px 0 rgba(10, 8, 3, 0.29), 0 1px 18px 0 rgba(22, 5, 5, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3)
  }
  .card-panel {
    border-radius: 6px;
    box-shadow: 0 6px 10px 0 rgba(10, 8, 3, 0.29), 0 1px 18px 0 rgba(22, 5, 5, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3)
  }
   /* body { background-color: #F2F6D0 } */
   #wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }
  #articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 600px;
    font-size: 20px;
  }
  #notes {
    float: right;
    width: 20%;
    height: 10%;
    border-radius: 4px;
  }
  textarea,
  input {
    /* display: block;  */
    width: 100%; 
    background-color: #f1f1ed;
    border-radius: 5px;
  }
  input {
    height: 36px;
    font-size: 24px;
  }
  textarea {
    height: 200px;
    font-size: 18px;
  }