body {
  background: black;
}

html {
  font-family: 'Orbitron', sans-serif;
  background-color: pink;
}

/* a {
  color: white
} */
.jumbotron {
  background-color: tomato;
}
a:hover {
  text-decoration: underline;
}
a {
  color: tomato;
  text-shadow: 1px 1px black;
}
.modal-content {
  background-image: URL("./../img/Black-Gradient-Background.jpg");
  color: white
}

.modal {
  margin-top: 65px;
  background: rgb(65, 224, 73);
}

textarea {
  min-height: 80px;
  background: white;
}

.container {
  min-height: 89.75vh;
}

.scrape-page-bg {
  background: black;
  background-image: URL("./../img/background2.gif");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 145%;
}

.saved-page-bg {
  background: black;
  background-image: URL("./../img/background.gif");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 75%;
}

.nav-wrapper {
  background-image: URL("./../img/Black-Gradient-Background.jpg");
  background-position: center center;
}

.scrape-page-header, .scrape-page-header2, .scrape-page-header3 {
  padding-top: 5%;
  font-size: 46px;
  font-weight: bolder;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 5px 5px rgb(18,82,169);
}

.scrape-page-header2 {
  padding-bottom: 5%;
}

.scrape-page-header3 {
  padding-bottom: 5%; 
  font-size: 36px;
}

.nav-links {
  padding: 10px 15px;
  margin: 0px 10px;
  border-radius: 5px;
  font-size: 20px;
}

.nav-links:hover {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  background: rgb(4, 85, 8);
}

.card-panel-top, .btn {
  background: rgb(4, 85, 8);
  font-weight: bolder;
}

.card-panel-top {
  border-radius: 10px 10px 0px 0px;
}

.card-panel-bottom {
  border-radius: 0px 0px 10px 10px;
  background: rgb(65, 224, 73);
  margin-bottom: 0px;
}

.card {
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 0px;
} 

.card-content {
  font-size: 19px;
}

.save-article-btn, .comment-btn, .delete-article-btn {
  margin-top: 37px;
}

.comment-btn {
  margin-right: 8px;
}

.banners {
  min-width: 100%;
  padding-bottom: 20px;
}