<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Scraper Gaming News</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrap">Scrape</a></li>
            <li><a href="/clearall">Delete Articles</a></li>
            <li><a href="https://github.com/melaniebott2691/18-Scrapping/">Git Repo</a></li>
        </ul>
    </div>
</nav>